#header {
	background: #333;
	height: 70px;
	color: white;
}

#header h1 {
	line-height: 70px;
	margin: 0px;
}

#row2 {
	padding-top: 5%;
}

#randomWord {
	letter-spacing: 4px;
	font-size: x-large;
	margin-top: 5%;
}

#guessed {
	padding-top: 15px;
	font-size: large;
}

#remainingGuesses {
	font-size: large;
}

#footer {
	background: #333;
	height: 60px;
	color: white;
}

#footer p {
	line-height: 60px;
	margin: 0px;
}

/*@media (min-width: @screen-sm-min) {

	#randomWord {
		margin: 25%;
	}
	
}*/




