body {
	width: 85%;
	margin: auto;
	background: #EEEEEE;
}

.container {
	/*margin: 5% 0 5% 0;*/
	/*height: auto;*/
    /*padding-bottom: 50px;*/
    border: 1px solid #333;
	text-align: center;
	background: #fff; 
}

#header {
	background: #333;
	height: 70px;
	color: white;
}

#header h1 {
	line-height: 70px;
	margin: 0px;
}

#row2 {
	padding-top: 5%;
	padding-bottom: 5%;
	height: auto;
}

#textArea {
	padding-top: 50px;
}

#randomWord {
	letter-spacing: 4px;
	font-size: x-large;
}

#guessed {
	padding-top: 15px;
	font-size: large;
}

#remainingGuesses {
	font-size: large;
}

#footer {
	/*position: absolute;
	bottom: 0px;
	width: 1170px;*/
	background: #333;
	height: 60px;
	color: white;
}

#footer p {
	line-height: 60px;
	margin: 0px;
}


/********************************************
				Responsive
********************************************/

@media only screen and (max-width: 991px) {

	#row2 {
		padding-top: 12%;
		padding-bottom: 12%;
	}

	img {
		height: 300px;
	}

}

@media only screen and (max-width: 767px) {

	#row2 {
		padding-top: 5%;
		padding-bottom: 5%;
	}

	#textArea {
		padding-top: 20px;
	}

	img {
		height: 300px;
	}

}










